* {
    margin: 0;
    padding: 0;
}

/* Gradiente de fundo */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    background: linear-gradient(45deg, #eaf6f6, #ffc54d,#1a4d2e,#1f4690);
    background-size:300% 300%; 
    animation: colors 15s ease infinite;

}

.img {
    padding-top: 5vh;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


@media screen and (max-width: 600px) {
    .img{
        height: 100px;
    }
    
}

footer{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
    max-width: 100vw;
    background-color: rgb(0,0,0,0.3);
    text-align: center;
    font-size: 18px;
}

#title {
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;

}

label {
    text-align: center;
    color: #FFFFFF!important;
}

a {
    text-decoration: none;
}

.div-btn {
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1693a5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 300px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.links{
    color: black;
}


.cartao-expansivel {
    background-color: #F0A500;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80vw;
    max-width: 550px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    margin: 20px;
    display: block;
    position: relative;
    
}

.active,
.cartao-expansivel:hover {
    background-color: #4D77FF;
}


.cartao-expansivel:after {
    float: right;
    content: '\02795';
    /* color: rgb(0, 0, 0); */
    /* font-weight: bold; */
    transition: transform 2s ease;
    transform: rotate(90deg);
    transition: all 0.5s ease;
    
}

.active:after {
    transform: rotate(0deg);
    content: '\2796';
    transition: all 0.5s ease;
}

.conteudo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*adicionando aqui só pra gente lembrar de trocar fonte */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    width: 80vw;
    max-width: 500px;
    border-radius: 5px;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}