* {
    margin: 0;
    padding: 0;
}

/* Gradiente de fundo */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background: linear-gradient(45deg, #eaf6f6, #ffc54d,#1a4d2e,#1f4690);
    background-size:300% 300%; 
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#title {
    text-align: center;
    
}

.cards {
    display: flex;
    flex-direction: column;

}
/* Texto escondido */
.collapsible {
    width: 90vw;
    max-width: 500px;
    overflow: hidden;
    font-weight: 500;
}

/* Botão do tipo check que fica escondido */
.collapsible input {
    display: none;
}

/* Botão principal */
.collapsible label {
    position: relative;
    font-weight: 600;
    background: #1693a5;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #c7ede8;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 30px ;
    border-radius: 4px;
    z-index: 1;
}

/* Parte da medalha */
.collapsible label:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    content: url(https://media.discordapp.net/attachments/992082604792750240/992255707200106586/3831808051656516899-32.png);
    float: right;
    transition: transform 2s ease;
    transform: rotate(380deg);
    transition: all 0.3s ease;
}

/* Faz a medalha girar */
.collapsible input:checked+label::after {
    transform: rotate(90deg);
}

.collapsible-text {
    min-height: 100px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.collapsible input:checked~.collapsible-text {
    width: 90vw;
    max-width: 500px;
    padding-bottom: 25px;
    background: #ffff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;

}

.collapsible-text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;

}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
}

/* /////////////////////////////////////////////// */

.collapsible2 {
    width: 90vw;
    max-width: 500px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible2 input {
    display: none;
}

.collapsible2 label {
    position: relative;
    font-weight: 600;
    background: #1693a5;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #c7ede8;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 30px ;
    border-radius: 4px;
    z-index: 1;
}

.collapsible2 label:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 6px;
    width: 100px;
    content: url(../images/Sem\ título-1\ copiar.svg);
    float: right;
    /* transition: transform 1s ease; */
    transform: rotate(34deg);
    transition: all 0.3s ease;
}


.collapsible2 input:checked+label::after {
    transform: rotate(80deg);
}

.collapsible-text2 {
    max-height: 400px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible2 input:checked~.collapsible-text2 {
    width: 90vw;
    max-width: 500px;
    padding-bottom: 25px;
    background: #ffff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;

}

.collapsible-text2 h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;

}

.collapsible-text2 p {
    padding-left: 15px;
    padding-right: 15px;
}

/* /////////////////////////////////////////////////////////////////// */

a {
    text-decoration: none;
}

.div-btn {
   
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1693a5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 300px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }